@screen_md: 401px;
@screen_lg: 1001px;

@max-width: 1600px;
@container: 1173px;

@header__height_sm: 412px;
@header__height_md: 449px;
@header__height_lg: 718px;

@grey: rgb(190, 190, 190);
@grey-menu: rgba(70, 70, 70, 0.8);
@service-item-heading: #324953;
@service-item__text: #72848c;
