@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: lato;
  src: url('../fonts/lato/lato-regular.woff2') format('woff2'),
       url('../fonts/lato/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: pt_sans;
    src: url('../fonts/pt_sans/pt_sans-web-regular.woff2') format('woff2'),
         url('../fonts/pt_sans/pt_sans-web-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: pt_sans;
    src: url('../fonts/pt_sans/pt_sans-web-bold.woff2') format('woff2'),
         url('../fonts/pt_sans/pt_sans-web-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

.center() {
  margin-left: auto;
  margin-right: auto;
}

@screen_md: 401px;
@screen_lg: 1001px;

@max-width: 1600px;
@container: 1173px;

@header__height_sm: 412px;
@header__height_md: 449px;
@header__height_lg: 718px;

.container {
  max-width: @container;
  .center();
  position: relative;
}

.heading-1 {
  font-family: pt_sans, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
}

.header {
  width: 100%;
  min-height: 412px;
  padding-top: 47px;
  color: white;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  @media (max-width: @screen_md) {
    background-image: url(../images/header-s.jpg);
    height: 412px;
    padding-top: 10px;
  }
  @media (min-width: @screen_md) and (max-width: (@screen_lg - 1)){
    background-image: url(../images/header-m.jpg);
    height: 449px;
  }
  @media (min-width: @screen_lg) {
    background-image: url(../images/header-l.jpg);
    height: 718px;
  }
}

.header__menu {
  position: absolute;
  right: 0;
}

.header__heading-1 {
  min-width: 250px;
  max-width: 960px;
  margin: 0;
  margin-top: @header__height_sm * 0.1;
  @media (min-width: @screen_md) {
    font-size: 3rem;
    margin-top: @header__height_md * 0.15;
  }
  @media (min-width: @screen_lg) {
    margin-top: @header__height_lg * 0.25;
  }
}

.header__paragraph {
  min-width: 250px;
  max-width: 960px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  opacity: 0.6;
}

.link_menu-icon {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  @media (max-width: @screen_lg) {
    display: block;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.logo {
  font-family: montserrat, sans-serif;
  font-size: 2rem;
  @media (max-width: @screen_md){
    font-size: 1.7rem;
  }
  font-weight: bold;
  text-transform: uppercase;
}

.menu-icon {
  height: 30px;
  width: 40px;
}

.menu {
  display: inline-block;
  @media (max-width: @screen_lg) {
    transform: translateX(300px);
    transition: transform 0.3s ease;
    background-color: rgba(70, 70, 70, 0.8);
    margin-top: 50px;
    padding-right: 20px;
  }
}

.menu_open {
  transform: translateX(0px);
}

.menu__item {
  display: inline-block;
  font-family: lato, sans-serif;
  text-transform: uppercase;
  margin-left: 37px;
  @media (max-width: @screen_lg) {
    display: block;
    padding: 20px;
  }
}

.page {
  max-width: @max-width;
  background-color: white;
  margin: 0;
  .center();
  padding: 0;
  font-size: 16px;
}

.paragraph {
  font-family: pt_sans, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}
