.container {
  max-width: 1173px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/montserrat-semibold.woff2') format('woff2'), url('../fonts/montserrat/montserrat-semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: lato;
  src: url('../fonts/lato/lato-regular.woff2') format('woff2'), url('../fonts/lato/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pt_sans;
  src: url('../fonts/pt_sans/pt_sans-web-regular.woff2') format('woff2'), url('../fonts/pt_sans/pt_sans-web-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pt_sans;
  src: url('../fonts/pt_sans/pt_sans-web-bold.woff2') format('woff2'), url('../fonts/pt_sans/pt_sans-web-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.heading-1 {
  font-family: pt_sans, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  margin: 0;
}
.heading-2 {
  font-family: pt_sans, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 75px;
}
.heading-3 {
  font-family: pt_sans, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  margin: 0;
}
.heading-3_bigger {
  font-size: 1.4rem;
}
.heading-3_darker {
  color: #324953;
}
.heading-4 {
  font-family: pt_sans, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  margin: 0;
  color: #afbfc6;
  padding: 10px;
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  opacity: 0.6;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.paragraph {
  font-family: pt_sans, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}
.paragraph_darker {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #72848c;
}
.blog-post {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  overflow: hidden;
}
.blog-post__content {
  position: absolute;
  top: 185px;
  left: 27px;
  margin-right: 135px;
  color: white;
}
@media (max-width: 401px) {
  .blog-post__content {
    top: 50%;
    left: 5px;
    margin-right: 0;
  }
}
.blog-post__heading {
  margin-bottom: 10px;
  max-width: 80vw;
  text-transform: capitalize;
  text-align: left;
}
@media (max-width: 401px) {
  .blog-post__heading {
    font-size: 1.2rem;
  }
}
.blog-post_text-data {
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}
@media (max-width: 401px) {
  .blog-post_text-data {
    margin-bottom: 10px;
    display: block;
  }
}
.blog-post__text-data_comments {
  text-transform: uppercase;
}
.blog-post__text-data_date::before {
  position: absolute;
  left: -23px;
  content: url(../images/blog-post__text-data_date.png);
}
.blog-post__text-data_comments::before {
  position: absolute;
  left: -23px;
  content: url(../images/blog-post__text-data_comments.png);
}
.blog {
  padding-top: 48px;
  padding-bottom: 48px;
}
.contact-form {
  max-width: 100%;
}
.contact-form__forms {
  width: 100%;
}
@media (max-width: 650px) {
  .contact-form__forms {
    flex-direction: column;
  }
}
.contact-form__inputs-group {
  border: none;
  padding: 0;
  margin: 0;
  width: 310px;
  margin-right: 6px;
  margin-left: auto;
  margin-right: auto;
}
.contact-form__info {
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  border-radius: 5px;
  border: 1px solid #dee7eb;
  padding-left: 25px;
  margin: 0;
  margin-bottom: 23px;
}
.contact-form__textarea {
  border: 1px solid #dee7eb;
  border-radius: 5px;
  height: 390px;
  margin: 0;
  max-width: 853px;
  flex-basis: 310px;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 650px) {
  .contact-form__textarea {
    flex-grow: 0;
    flex-basis: 94px;
    width: 310px;
    height: 94px;
    margin-bottom: 23px;
  }
}
.contact-form__submit-button {
  width: 310px;
  height: 47px;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  display: block;
  transform: translateY(-47px);
}
@media (max-width: 650px) {
  .contact-form__submit-button {
    transform: translateY(0);
    margin-left: auto;
    margin-right: auto;
  }
}
.contact {
  max-width: 100%;
  padding: 70px 0;
  background-image: url(../images/contact__background.png);
  background-size: cover;
  background-color: #e7eef2;
}
.contact__heading {
  text-align: left;
  font-size: 1.6rem;
  margin-bottom: 60px;
}
@media (max-width: 650px) {
  .contact__heading {
    text-align: center;
  }
}
.footer {
  max-width: 1600px;
  height: 250px;
  background-color: #10131c;
  color: white;
  padding-top: 60px;
}
.footer__heading {
  margin-bottom: 35px;
  text-align: center;
}
.footer__menu {
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
}
.footer__menu-item {
  font-family: lato, sans-serif;
  text-transform: uppercase;
  padding: 10px;
}
.footer__social {
  margin-left: auto;
  margin-right: auto;
  max-width: 160px;
  margin-top: 35px;
}
.header {
  width: 100%;
  min-height: 412px;
  padding-top: 47px;
  color: white;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  box-sizing: border-box;
}
@media (max-width: 401px) {
  .header {
    background-image: url(../images/header-s.jpg);
    height: 412px;
    padding-top: 10px;
  }
}
@media (min-width: 401px) and (max-width: 1000px) {
  .header {
    background-image: url(../images/header-m.jpg);
    height: 449px;
  }
}
@media (min-width: 1001px) {
  .header {
    background-image: url(../images/header-l.jpg);
    height: 718px;
  }
}
.header__menu {
  position: absolute;
  right: 0;
  z-index: 1;
}
@media (max-width: 1001px) {
  .header__menu {
    position: fixed;
    top: 97px;
    right: 0;
  }
}
@media (max-width: 401px) {
  .header__menu {
    top: 67px;
  }
}
.header__menu-icon {
  display: none;
}
@media (max-width: 1001px) {
  .header__menu-icon {
    display: block;
    position: fixed;
    top: 47px;
    right: 0;
    z-index: 1;
  }
}
@media (max-width: 401px) {
  .header__menu-icon {
    top: 10px;
  }
}
.header__menu-icon:active {
  opacity: 0.6;
}
.header__heading {
  min-width: 250px;
  max-width: 960px;
  margin-top: 41.2px;
}
@media (min-width: 401px) {
  .header__heading {
    font-size: 3rem;
    margin-top: 67.35px;
  }
}
@media (min-width: 1001px) {
  .header__heading {
    margin-top: 179.5px;
  }
}
.header__paragraph {
  min-width: 250px;
  max-width: 960px;
}
.logo {
  font-family: montserrat, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 401px) {
  .logo {
    font-size: 1.7rem;
  }
}
.menu-icon {
  height: 48px;
  width: 48px;
  stroke: #bebebe;
  stroke-width: 2;
}
.menu {
  display: inline-block;
}
@media (max-width: 1001px) {
  .menu {
    transform: translateX(300px);
    transition: transform 0.3s ease;
    background-color: rgba(70, 70, 70, 0.8);
    padding-right: 20px;
  }
}
.menu_open {
  transform: translateX(0px);
}
.menu__item {
  display: inline-block;
  font-family: lato, sans-serif;
  text-transform: uppercase;
  margin-left: 37px;
}
@media (max-width: 1001px) {
  .menu__item {
    display: block;
    padding: 20px;
  }
}
.our-services {
  color: black;
  margin-bottom: 20px;
}
.page {
  max-width: 1600px;
  background-color: white;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 16px;
}
.service-item {
  max-width: 200px;
  margin-left: 70px;
  position: relative;
  padding-bottom: 55px;
}
.service-item::before {
  position: absolute;
  top: 0;
  left: -50px;
}
.service-item_desktop::before {
  content: url(../images/our-services__desktop.png);
}
.service-item_time::before {
  content: url(../images/our-services__time.png);
}
.service-item_mobile::before {
  content: url(../images/our-services__mobile.png);
}
.service-item_network::before {
  content: url(../images/our-services__network.png);
}
.share {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 340px;
  height: 213px;
  padding: 85px 30px 0;
  color: white;
  text-align: center;
  display: none;
}
.share__text {
  margin-top: 10px;
  margin-bottom: 35px;
}
.share__link {
  text-transform: uppercase;
  font-size: 1.2rem;
}
.share__link::before {
  content: url(../images/share-icon.png);
  margin-right: 10px;
}
.team-member {
  max-width: 330px;
  text-align: center;
  margin-bottom: 135px;
  margin-left: auto;
  margin-right: auto;
}
.team-member__picture {
  width: 213px;
  height: 213px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  position: relative;
}
.team-member__picture:hover .team-member__photo {
  filter: brightness(0.3);
}
.team-member__picture:hover .team-member__social {
  display: block;
}
.team-member__photo {
  border-radius: 50%;
}
.team-member__social {
  position: absolute;
  top: 0;
  left: 0;
  width: 213px;
  height: 213px;
  display: none;
}
.team-member__social-fb {
  position: absolute;
  left: 40px;
  bottom: 45px;
}
.team-member__social-tw {
  position: absolute;
  left: 90px;
  bottom: 30px;
}
.team-member__social-ig {
  position: absolute;
  right: 40px;
  bottom: 45px;
}
.team {
  padding-top: 80px;
}
.work {
  position: relative;
  width: 400px;
  height: 298px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  overflow: hidden;
}
.work__image {
  width: 400px;
  height: 298px;
}
.work:hover .work__image {
  filter: brightness(0.3);
}
.work:hover .share {
  display: block;
}
