@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/montserrat-semibold.woff2') format('woff2'), url('../fonts/montserrat/montserrat-semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: lato;
  src: url('../fonts/lato/lato-regular.woff2') format('woff2'), url('../fonts/lato/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pt_sans;
  src: url('../fonts/pt_sans/pt_sans-web-regular.woff2') format('woff2'), url('../fonts/pt_sans/pt_sans-web-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: pt_sans;
  src: url('../fonts/pt_sans/pt_sans-web-bold.woff2') format('woff2'), url('../fonts/pt_sans/pt_sans-web-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.heading-1 {
  font-family: pt_sans, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;
  margin: 0;
}
.heading-2 {
  font-family: pt_sans, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.4rem;
  margin: 0;
}
.heading-3 {
  font-family: pt_sans, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1rem;
  margin: 0;
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:active {
  opacity: 0.6;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.paragraph {
  font-family: pt_sans, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}
.blog-post {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
}
.blog-post__content {
  position: absolute;
  top: 185px;
  left: 27px;
  margin-right: 135px;
  color: white;
}
@media (max-width: 401px) {
  .blog-post__content {
    top: 50%;
    left: 5px;
    margin-right: 0;
  }
}
.blog-post__heading {
  margin-bottom: 10px;
  max-width: 80vw;
}
@media (max-width: 401px) {
  .blog-post__heading {
    font-size: 1.2rem;
  }
}
.blog-post_text-data {
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}
@media (max-width: 401px) {
  .blog-post_text-data {
    margin-bottom: 10px;
    display: block;
  }
}
.blog-post__text-data_comments {
  text-transform: uppercase;
}
.blog-post__text-data_date::before {
  position: absolute;
  left: -23px;
  content: url(../images/blog-post__text-data_date.png);
}
.blog-post__text-data_comments::before {
  position: absolute;
  left: -23px;
  content: url(../images/blog-post__text-data_comments.png);
}
.blog {
  padding-top: 48px;
  padding-bottom: 48px;
}
.container {
  max-width: 1173px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.container_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header {
  width: 100%;
  min-height: 412px;
  padding-top: 47px;
  color: white;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  box-sizing: border-box;
}
@media (max-width: 401px) {
  .header {
    background-image: url(../images/header-s.jpg);
    height: 412px;
    padding-top: 10px;
  }
}
@media (min-width: 401px) and (max-width: 1000px) {
  .header {
    background-image: url(../images/header-m.jpg);
    height: 449px;
  }
}
@media (min-width: 1001px) {
  .header {
    background-image: url(../images/header-l.jpg);
    height: 718px;
  }
}
.header__menu {
  position: absolute;
  right: 0;
  z-index: 1;
}
@media (max-width: 1001px) {
  .header__menu {
    position: fixed;
    top: 97px;
    right: 0;
  }
}
@media (max-width: 401px) {
  .header__menu {
    top: 67px;
  }
}
.header__menu-icon {
  display: none;
}
@media (max-width: 1001px) {
  .header__menu-icon {
    display: block;
    position: fixed;
    top: 47px;
    right: 0;
    z-index: 1;
  }
}
@media (max-width: 401px) {
  .header__menu-icon {
    top: 10px;
  }
}
.header__menu-icon:active {
  opacity: 0.6;
}
.header__heading {
  min-width: 250px;
  max-width: 960px;
  margin-top: 41.2px;
}
@media (min-width: 401px) {
  .header__heading {
    font-size: 3rem;
    margin-top: 67.35px;
  }
}
@media (min-width: 1001px) {
  .header__heading {
    margin-top: 179.5px;
  }
}
.header__paragraph {
  min-width: 250px;
  max-width: 960px;
}
.logo {
  font-family: montserrat, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 401px) {
  .logo {
    font-size: 1.7rem;
  }
}
.menu-icon {
  height: 48px;
  width: 48px;
  stroke: #bebebe;
  stroke-width: 2;
}
.menu {
  display: inline-block;
}
@media (max-width: 1001px) {
  .menu {
    transform: translateX(300px);
    transition: transform 0.3s ease;
    background-color: rgba(70, 70, 70, 0.8);
    padding-right: 20px;
  }
}
.menu_open {
  transform: translateX(0px);
}
.menu__item {
  display: inline-block;
  font-family: lato, sans-serif;
  text-transform: uppercase;
  margin-left: 37px;
}
@media (max-width: 1001px) {
  .menu__item {
    display: block;
    padding: 20px;
  }
}
.our-services {
  color: black;
  margin-bottom: 20px;
}
.our-services__heading {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 75px;
}
.page {
  max-width: 1600px;
  background-color: white;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 16px;
}
.service-item {
  max-width: 200px;
  margin-left: 70px;
  position: relative;
  padding-bottom: 55px;
}
.service-item__heading {
  color: #324953;
}
.service-item__text {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #72848c;
}
.service-item::before {
  position: absolute;
  top: 0;
  left: -50px;
}
.service-item_desktop::before {
  content: url(../images/our-services__desktop.png);
}
.service-item_time::before {
  content: url(../images/our-services__time.png);
}
.service-item_mobile::before {
  content: url(../images/our-services__mobile.png);
}
.service-item_network::before {
  content: url(../images/our-services__network.png);
}
