.container {
  max-width: @container;
  .center();
  position: relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/montserrat-semibold.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-semibold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: lato;
  src: url('../fonts/lato/lato-regular.woff2') format('woff2'),
       url('../fonts/lato/lato-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: pt_sans;
    src: url('../fonts/pt_sans/pt_sans-web-regular.woff2') format('woff2'),
         url('../fonts/pt_sans/pt_sans-web-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: pt_sans;
    src: url('../fonts/pt_sans/pt_sans-web-bold.woff2') format('woff2'),
         url('../fonts/pt_sans/pt_sans-web-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

.heading-1 {
  .heading (2rem);
}

.heading-2 {
  .heading (1.4rem);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 75px;
}

.heading-3 {
  .heading(1rem);
}

.heading-3_bigger {
  font-size: 1.4rem;
}

.heading-3_darker {
  color: @heading-darker;
}

.heading-4 {
  .heading(1rem);
  color: #afbfc6;
  padding: 10px;
}

.link {
  color: white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.6;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center() {
  margin-left: auto;
  margin-right: auto;
}

.heading (@font-size) {
  font-family: pt_sans, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: @font-size;
  margin: 0;
}

.paragraph {
  font-family: pt_sans, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
}

.paragraph_darker {
  font-size: 0.8rem;
  margin-top: 10px;
  color: @text-darker;
}

@screen_md: 401px;
@screen_lg: 1001px;
@contact-form__break-point: 650px;

@max-width: 1600px;
@container: 1173px;

@header__height_sm: 412px;
@header__height_md: 449px;
@header__height_lg: 718px;

@grey: rgb(190, 190, 190);
@grey-menu: rgba(70, 70, 70, 0.8);
@heading-darker: #324953;
@text-darker: #72848c;
@form-border: #dee7eb;
@form__submit-button: black;
@footer: #10131c;

.blog-post {
    position: relative;
    .center();
    margin-bottom: 19px;
    overflow: hidden;

  &__content {
    position: absolute;
    top: 185px;
    left: 27px;
    margin-right: 135px;
    @media (max-width: @screen_md) {
      top: 50%;
      left: 5px;
      margin-right: 0;
    }
    color: white;
  }

  &__heading {
    margin-bottom: 10px;
    max-width: 80vw;
    text-transform: capitalize;
    text-align: left;
    @media (max-width: @screen_md) {
      font-size: 1.2rem;
    }
  }

  &_text-data {
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    @media (max-width: @screen_md) {
      margin-bottom: 10px;
      display: block;
    }
  }

  &__text-data_comments {
    text-transform: uppercase;
  }

  &__text-data_date::before {
    position: absolute;
    left: -23px;
    content: url(../images/blog-post__text-data_date.png);
  }

  &__text-data_comments::before {
    position: absolute;
    left: -23px;
    content: url(../images/blog-post__text-data_comments.png);
  }
}

.blog {
  padding-top: 48px;
  padding-bottom: 48px;
}

.contact-form {
  max-width: 100%;
  &__forms {
    width: 100%;
    @media (max-width: @contact-form__break-point) {
    flex-direction: column;
    }
  }
  &__inputs-group {
    border: none;
    padding: 0;
    margin: 0;
    width: 310px;
    margin-right: 6px;
    .center();
  }
  &__info {
    box-sizing: border-box;
    width: 100%;
    height: 47px;
    border-radius: 5px;
    border: 1px solid @form-border;
    padding-left: 25px;
    margin: 0;
    margin-bottom: 23px;
  }
  &__textarea{
    border: 1px solid @form-border;
    border-radius: 5px;
    height: 390px;
    margin: 0;
    max-width: 853px;
    flex-basis: 310px;
    flex-grow: 1;
    .center();
    @media (max-width: @contact-form__break-point) {
      flex-grow: 0;
      flex-basis: 94px;
      width: 310px;
      height: 94px;
      margin-bottom: 23px;
    }
  }
  &__submit-button {
    width: 310px;
    height: 47px;
    background-color: @form__submit-button;
    border: 1px solid @form__submit-button;
    border-radius: 5px;
    color: white;
    display: block;
    transform: translateY(-47px;);
    @media (max-width: @contact-form__break-point) {
      transform: translateY(0);
      .center();
    }
  }
}

.contact {
  max-width: 100%;
  padding: 70px 0;
  background-image: url(../images/contact__background.png);
  background-size: cover;
  background-color: #e7eef2;
  &__heading {
    text-align: left;
    font-size: 1.6rem;
    margin-bottom: 60px;
    @media (max-width: @contact-form__break-point) {
      text-align: center;
    }
  }
}

.footer {
  max-width: @max-width;
  height: 250px;
  background-color: @footer;
  color: white;
  padding-top: 60px;
  &__heading {
    margin-bottom: 35px;
    text-align: center;
  }
  &__menu {
    .center();
    max-width: 360px;
  }
  &__menu-item {
    font-family: lato, sans-serif;
    text-transform: uppercase;
    padding: 10px;
  }
  &__social {
    .center();
    max-width: 160px;
    margin-top: 35px;
  }
}

.header {
  width: 100%;
  min-height: 412px;
  padding-top: 47px;
  color: white;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  box-sizing: border-box;
  @media (max-width: @screen_md) {
    background-image: url(../images/header-s.jpg);
    height: 412px;
    padding-top: 10px;
  }
  @media (min-width: @screen_md) and (max-width: (@screen_lg - 1)){
    background-image: url(../images/header-m.jpg);
    height: 449px;
  }
  @media (min-width: @screen_lg) {
    background-image: url(../images/header-l.jpg);
    height: 718px;
  }

  &__menu {
    position: absolute;
    right: 0;
    @media (max-width: @screen_lg) {
      position: fixed;
      top: 97px;
      right: 0;
    }
    @media (max-width: @screen_md) {
      top: 67px;
      }
      z-index: 1;
  }

  &__menu-icon {
    display: none;
    @media (max-width: @screen_lg) {
      display: block;
      position: fixed;
      top: 47px;
      right: 0;
      z-index: 1;
    }
    @media (max-width: @screen_md) {
      top: 10px;
    }
  }

  &__menu-icon:active {
    opacity: 0.6;
  }

  &__heading {
    min-width: 250px;
    max-width: 960px;
    margin-top: @header__height_sm * 0.1;
    @media (min-width: @screen_md) {
      font-size: 3rem;
      margin-top: @header__height_md * 0.15;
    }
    @media (min-width: @screen_lg) {
      margin-top: @header__height_lg * 0.25;
    }
  }

  &__paragraph {
    min-width: 250px;
    max-width: 960px;
  }
}

.logo {
  font-family: montserrat, sans-serif;
  font-size: 2rem;
  @media (max-width: @screen_md){
    font-size: 1.7rem;
  }
  font-weight: bold;
  text-transform: uppercase;
}

.menu-icon {
  height: 48px;
  width: 48px;
  stroke: @grey;
  stroke-width: 2;
}

.menu {
  display: inline-block;
  @media (max-width: @screen_lg) {
    transform: translateX(300px);
    transition: transform 0.3s ease;
    background-color: @grey-menu;
    padding-right: 20px;
  }

  &_open {
    transform: translateX(0px);
  }

  &__item {
    display: inline-block;
    font-family: lato, sans-serif;
    text-transform: uppercase;
    margin-left: 37px;
    @media (max-width: @screen_lg) {
      display: block;
      padding: 20px;
    }
  }
}

.our-services {
  color: black;
  margin-bottom: 20px;
}

.page {
  max-width: @max-width;
  background-color: white;
  margin: 0;
  .center();
  padding: 0;
  font-size: 16px;
}

.service-item {
  max-width: 200px;
  margin-left: 70px;
  position: relative;
  padding-bottom: 55px;
  &::before {
    position: absolute;
    top: 0;
    left: -50px;
  }
  &_desktop::before {
    content: url(../images/our-services__desktop.png);
  }
  &_time::before {
    content: url(../images/our-services__time.png);
  }
  &_mobile::before {
    content: url(../images/our-services__mobile.png);
  }
  &_network::before {
    content: url(../images/our-services__network.png);
  }
}

.share {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 340px;
  height: 213px;
  padding: 85px 30px 0;
  color: white;
  text-align: center;
  &__text {
    margin-top: 10px;
    margin-bottom: 35px
  }
  &__link {
    text-transform: uppercase;
    font-size: 1.2rem;
    &::before {
      content: url(../images/share-icon.png);
      margin-right: 10px;
    }
  }
  display: none;
}

.team-member {
  max-width: 330px;
  text-align: center;
  margin-bottom: 135px;
  .center();
  &__picture {
    width: 213px;
    height: 213px;
    .center();
    margin-bottom: 40px;
    position: relative;
    &:hover {
      .team-member__photo {
        filter: brightness(0.3);
      }
      .team-member__social {
          display: block;
        }
      }
    }
    &__photo {
      border-radius: 50%;
    }
}

.team-member__social {
  position: absolute;
  top: 0;
  left: 0;
  width: 213px;
  height: 213px;
  display: none;
}

.team-member__social-fb {
  position: absolute;
  left: 40px;
  bottom: 45px;
}

.team-member__social-tw {
  position: absolute;
  left: 90px;
  bottom: 30px;
}

.team-member__social-ig {
  position: absolute;
  right: 40px;
  bottom: 45px;
}

.team {
  padding-top: 80px;
}

.work {
  position: relative;
  width: 400px;
  height: 298px;
  .center();
  margin-bottom: 10px;
  overflow: hidden;
}

.work {
  &__image{
    width: 400px;
    height: 298px;
  }
  &:hover {
    .work__image{
      filter: brightness(0.3);
    }
    .share {
      display: block;
    }
  }
}
